$black: rgb(17, 17, 17);
$yellow: #ecc514;
$bg-color: rgb(20, 20, 20);
$dark-grey: #292828;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    list-style: none;
}

@mixin spin {


    .spinner {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 5.4px solid $yellow;
        border-top: 4px solid transparent;
        animation: spin 1.8s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


@keyframes oscillateImage {
    0% {
        transform: translate(0, 0) rotate(0deg);
        transform-origin: left top;
    }

    25% {
        transform: translate(0, 0) rotate(8deg);
        transform-origin: left top;
    }

    50% {
        transform: translate(0, 0) rotate(01deg);
        transform-origin: left top;
    }

    75% {
        transform: translate(0, 0) rotate(-2deg);
        transform-origin: left top;
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
        transform-origin: left top;
    }
}


body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $bg-color;

}

//mixin pour le responsive design
@mixin screen($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: 1024px) {
            @content;
        }
    }
}

@mixin screen-x($min , $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin rotationanimation {

    animation: rotation 3s linear infinite;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}