$black: rgb(17, 17, 17);
$yellow: #ecc514;
$bg-color: rgb(19, 18, 18);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    list-style: none;
}

body{
    background-color: $bg-color;
    width: 100%;
    // overflow: hidden;
}