#home-about{
    width: 100%;
    overflow: hidden;
    height: max-content;

      &__container{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        @include container;
    

         .section-cover{
             width: 100%;
             height: 100%;
             overflow: hidden;

              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
         }
      }
}