#footer {
    width: 100%;
    height: max-content;
    background-color: $black;
    box-shadow: 0 -7px 7px rgb(14, 13, 13);
    margin-top: 2rem;

    &__container {
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 4rem;
        @include container;


        .section-info {
            margin-top: 1rem;
            width: 100%;
            height: max-content;
            padding: 18px;
            display: flex;
            flex-direction: row;
            gap: 30px;

            .social-icons {
                padding: 14px 30px 14px 30px;
                border-radius: 5px;
                background-color: $dark-grey;

                img {
                    width: 26px;
                }
            }
        }

        .section-email {
            margin-top: 2rem;


            input {
                width: 73%;
                height: 3rem;
                border-radius: 9px;
                background-color: #d4d1d1;
            }

            .button {
                margin: 0 auto;

                button {
                    width: 73%;
                    height: 3rem;
                    font-size: 17px;
                    color: #fff;
                    text-shadow: 0 2px 5px black;
                    font-weight: bold;
                    background-color: $yellow;
                    border-radius: 9px;
                    border: 0;
                }
            }
        }
    }
}

.title {

    h3 {
        color: $yellow;
        font-weight: bold;
    }
}

.line {
    width: 47%;
    border-radius: 8px;
    height: 4px;
    background-color: $yellow;
}