#home-hero {
    width: 100%;
    overflow: hidden;
    height: 90vh;
    margin-top: 5rem;


    &::before {
        content: "";
        position: absolute;
        margin-top: 5rem;
        width: 100vw;
        height: 90vh;
        top: 0;
        left: 0;

        @include screen(small) {
            background-color: rgba(0, 0, 0, 0.77);
        }
    }

    @include screen(small) {
        background-image: url(/images/MERN_couv.jpg);
        background-size: cover;
        background-position: center center;
    }

    &__container {
        width: 100%;
        z-index: 15;
        height: 100%;
        padding-left: 6%;
        padding-right: 0%;

        @include screen(small) {
            @include container;
        }


        .section-header {
            width: 100%;
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;

            .title {
                h1 {
                    color: #fff;
                    font-size: 2.8em;
                    font-weight: bold;

                    span {
                        color: $yellow;
                    }

                    @include screen(small) {
                        font-size: 2.27em;
                    }
                }
            }

            .subtitle {

                h3 {
                    color: $yellow;

                    @include screen(small) {
                        font-size: 24.5px;
                    }
                }
            }

            .text {

                p {
                    color: #fff;
                    font-size: 19px;
                }
            }

            .button {
                display: flex;
                flex-direction: row;
                gap: 25px;

                .btn {
                    width: 100%;
                    font-size: 16px;
                    border-radius: 10px;
                    padding: 12px 38px 12px 38px;

                    @include screen(small) {
                        font-size: 14px;
                        padding: 11px 18px 11px 18px;
                    }
                }

                #btn1 {
                    background-color: $yellow;
                    color: $black;
                    font-weight: bold;
                }

                #btn2 {
                    border: 2px solid $yellow;
                    color: #fff;
                    font-weight: bold;

                    &:hover {
                        background-color: $yellow;
                    }
                }
            }
        }

        .section-cover {
            margin-left: 4.5%;
            width: 100%;
            height: 100%;
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 30% 0%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}