#home-overview {
  width: 100%;
  height: max-content;
  overflow: hidden;

  &__container {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 5rem;
    @include container;

    @include screen(small) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .row {
      width: 84%;
      margin: auto;
      height: 100%;
      background-color: $dark-grey;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 8px;

      @include screen(small) {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 8px;
      }

      .overview-item {
        width: 100%;
        text-align: center;
        border-right: 2.8px solid $yellow;
        padding-top: 1rem;
        padding-bottom: 1rem;

        h3 {
          color: $yellow;
          font-weight: bold;
        }

        h5 {
          color: #fff;
          font-weight: bold;

          @include screen(small){
            font-size: 17px;
          }
        }
      }
    }

    #last-column {
      border-right: 0;
      width: 100%;

      @include screen(small) {
        margin-left: 50%;
      }
    }

    #second-column {

      @include screen(small) {
        border-right: 0;
      }
    }
  }
}