#techno-hero {
    width: 100%;
    overflow: hidden;
    margin-top: 5rem;

    &__container {
        width: 100%;
        overflow: hidden;
        padding-top: 3rem;
        padding-bottom: 3rem;
        @include container;

        .section-header {

            .subtitle {
                display: flex;
                flex-direction: row;

                h4 {
                    color: $yellow;
                    font-weight: bold;
                    margin-left: 15px;
                }

                @include spin;
            }

            .title {
                margin-top: 1rem;

                h3 {
                    color: #fff;

                    span {
                        color: $yellow;
                    }
                }
            }

            .text {
                p {
                    color: #fff;
                    font-size: 18px;

                    span {
                        color: $yellow;
                    }
                }
            }
        }

        .section-langage {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3rem;
            gap: 58px;
            width: 100%;

            @include screen(small) {
               gap: 24px;
             }

             @include screen(medium) {
                gap: 40px;
              }
 

            .box-langage {
                .langage-name {
                    h3 {
                        color: #fff;
                        text-align: center;
                        font-weight: bold;
                         
                        @include screen(small) {
                            font-size: 20px;
                         }
                    }
                }

                .langage-svg {
                    margin-top: 1rem;
                    img {
                        width: 80px;
                        padding: 15px;
                        background-color: $dark-grey;
                        border-radius: 7px;
                        object-fit: cover;

                        @include screen(small) {
                           width: 48px;
                           padding: 12px;
                        }
                    }
                }
            }
        }
    }
}